@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');

:root{
    --font-family: 'Montserrat', sans-serif;
}

[player = "blue"]{
    --bg-color: #0AA1DD;
    --primary-color: #E8F9FD;
}

[player = "red"] {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #dd2a0a;
    --primary-color: #ffe6e6;
}

[player = "green"] {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #29be12;
    --primary-color: #ffffff;
}

[player = "purple"] {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #9d15c6;
    --primary-color: #fcdfff;
}

*{
    font-family: var(--font-family);
    transition: 0.45s;
}

body{
    background-color: var(--bg-color);
    /*max-height: 100vh;*/
}

header{
    background-color: #ffffff00;
    height: 0vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    margin: 0em;
    padding: 0em;
    font-family: var(--font-family);
    font-size: 0em;
    color: #ffffff00;
    border-radius: 8px;
    font-weight: 600;
}

[started = "yes"] header{
    color: var(--bg-color);
    background-color: var(--primary-color);
    margin: 1em;
    padding: 0.5em;
    height: 3vh;
    font-size: 1.5em;
}

[started = "finished"] header{
    height: 0vh;
    padding: 0em;
    margin: 0em;
    font-size: 0em;
    background-color: #ffffff00;
}

section {
    background-color: #00000000;
    color: var(--primary-color);
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4.2em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 2px solid var(--primary-color);
    background: var(--bg-color);
    border-radius: 8px;
    margin-top: 20px;
    color: var(--primary-color);
    font-size: 1.6em;
    cursor: pointer;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
}

#twoplayers, #threeplayers, #fourplayers, #oneplayer {
    background-color: var(--bg-color);
    color: var(--primary-color);
    cursor: pointer;
}

#twoplayers:hover, #threeplayers:hover, #fourplayers:hover, #oneplayer:hover, .btn-jogar:hover{
    border: 3px solid var(--primary-color);
    padding: 10px 17px;
    box-shadow: var(--primary-color) 0px 0px 100px -10px; 
}